
<div class = "add-contact-container col-xs-12 col-sm-6 col-sm-offset-3">
	<h2> 
		Add your contact
	</h2>
	<form name = "addcontactform" novalidate>
		<div class = "form-group">
			<label class = "add-contact-label">
				Name
			</label>
			<input type = "text" ng-model = "contactCtrl.newContact.info.name" class = "form-control" placeholder = "Name" required>
		</div>
		<div class = "form-group">
			<label class = "add-contact-label">
				Email
			</label>
			<input type = "text" ng-model = "contactCtrl.newContact.info.email" class = "form-control" placeholder = "Email">
		</div>
		<div class = "form-group">
			<label class = "add-contact-label">
				Address
			</label>
			<input type = "text" ng-model = "contactCtrl.newContact.info.address" class = "form-control" placeholder = "Address">
		</div>
		<div class = "form-group">
			<label class = "add-contact-label">
				Phone
			</label>
			<input type = "text" ng-model = "contactCtrl.newContact.info.phone" class = "form-control" placeholder = "Phone Number">
		</div>
			<label class= "radio-inline">
				<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.info.category" value="Family"> 
					Family 
  			</label>
  		<label class= "radio-inline">
  			<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.info.category" value="Friends"> 
  			Friends
  		</label>
  		<label class= "radio-inline">
  			<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.info.category" value="Work"> 
  			Work 
  		</label>
  		<label class= "radio-inline">
  			<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.info.category" value="Other"> 
  			Other 
		</label>
  		<div class = "add-button-container">
	  		<button type = "submit" class = "btn btn-primary add-contact-btn" ng-click = "contactCtrl.newContact.addContact(contactCtrl.newContact.info)" ng-disabled="addcontactform.$invalid" name = "contactCtrl.newContact.info.name">
				Add contact.
			</button>
		</div>

	</form>

	<a href = "#/"> 
		Back
	</a>
</div>
