
	
	Hello from add a contact view.
	
	<form>
		<input type = "text" ng-model = "contactCtrl.newContact.contactName" placeholder = "Contact Name">
		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.category" value="Family"> Family 
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.category" value="Friends"> Friends
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.category" value="Work"> Work 
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.newContact.category" value="Other"> Other 
	
  		<button type = "submit" ng-click = "contactCtrl.newContact.addContact(contactCtrl.newContact.contactName, contactCtrl.newContact.category)">
			Add contact.
		</button>

	</form>

