
	
	Hello from the view contact view.
	
	<form>
		<input type = "text" ng-model = "contactCtrl.viewContact.contact.name" placeholder = "Contact Name">
		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.viewContact.contact.category" value="Family"> Family 
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.viewContact.contact.category" value="Friends"> Friends
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.viewContact.contact.category" value="Work"> Work 
  		<input type="radio" name = "categoryRadio" ng-model="contactCtrl.viewContact.contact.category" value="Other"> Other 
	
  		<button type = "submit" ng-click = "contactCtrl.viewContact.saveEdits()">
			Save edits
		</button>

	</form>

